body {
color: white;
background: black;
}
header {
border-bottom: solid 2px rgb(255, 72, 0);
padding: 20px;
font-size: 32px;
color: rgb(0, 110, 255)
}

section {
background: rgb(200, 255, 1);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}